.index-content {
  padding: 1rem 2rem 2rem 2rem;
}

h3 {
  font-size: 1.5rem;
  margin: 1.4rem auto 1.8rem 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 4rem;
    background: var(--primary-color);
    height: .3rem;
    left: 0;
    bottom: 0;
    border-radius: 4px;
  }
}

.how {
  margin-top: 1rem;
}
