<div class="index-content">
  <h3>Administración</h3>
  <p>
    Como autor de esta aplicación, es un placer que estés aquí para ayudarme con
    la administración de Artículos, con la ayuda de todos estoy seguro de
    que crearemos un gran comunidad.
  </p><br>
  <p>
    Tienes el poder para decidir que Artículos entran y cuáles no.
    Si eres administrador es por que eres alguien con criterio, tienes
    debilidad por el buen gusto y diseño, además de saber bastante
    de al menos un tema en concreto.
  </p>

  <div class="how">
    <h3>Cómo funciona</h3>
    <p>
      Utiliza la lista para elegir que Artículo quieres administrar.
      Para que un Artículo sea aprobado deberá cumplir
      una serie de requisitos que tú como administrador seguro ya sabes.
    </p><br>
    <p>
      Utiliza tu criterio para determinar que requisitos cumple o no.
      Obviamente para saber esto hay que informarse sobre el Artículo primero,
      leerlo por encima y decidir en base a ello.
    </p>
  </div>

</div>
