@import '../../../../../../../assets/styles/themes/themes.scss';

@include nb-install-component {
  .search-bar {
    background: nb-theme(background-basic-color-2);
  }

  .close {
    color: nb-theme(text-basic-color);
  }

  .search-bar mat-label {
    color: nb-theme(text-basic-color);
  }
}

.search-bar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  left: 0;
  top: -2rem;
  width: 100vw;
  height: calc(var(--navbar-height) + 2rem);

  &-input {
    position: relative;
    top: 1.4rem;
    left: 1.4rem;

    & mat-form-field {
      width: 50vw;

      & nb-icon {
        font-size: 2rem;
      }

      & input {
        font-size: 1.4rem;
        padding-left: .5rem;
      }
    }
  }

  & .close {
    font-size: 2rem;
    position: relative;
    top: 1rem;
    cursor: pointer;
  }
}

.search-bar .mat-focused mat-label {
  color: var(--primary-color) !important;
}

.backdrop {
  position: absolute;
  top: var(--navbar-height);
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
