<div id="search-bar" class="search-bar animated bounceInDown">
  <div class="search-bar-input">
    <mat-form-field class="example-full-width" color="accent">
      <nb-icon icon="search-outline" matPrefix></nb-icon>
      <mat-label>¿Qué estás buscando?</mat-label>
      <input type="search"
             matInput
             class="input">
    </mat-form-field>
  </div>
  <nb-icon mat-button
           class="close"
           icon="close-outline"
           (click)="close()">
  </nb-icon>
</div>

<div class="backdrop" (click)="close()"></div>
