@import '../../../../../assets/styles/themes/themes.scss';

nb-layout{
  width:100%;
  height:100%;
}

nb-layout-column:first-child {
  flex: 1 !important;
  background: nb-theme(color-basic-300);
  color: nb-theme(text-basic-color) !important;
}

nb-layout-column:last-child {
  flex: 2 !important;
  background: nb-theme(color-basic-400);
}



