<div class="hero template">
  <h1>Creador de contenido</h1>
  <h3>Crea y comparte contenido de manera sencilla y rápida.
    Dedícate a escribir, lo que de verdad importa,
    el resto lo hacemos nosotros.
  </h3>

  <div class="steps">
    <div>
      <h4>
        Crea Artículos
        <nb-icon icon="edit-outline"></nb-icon>
      </h4>
      <p>¿Quieres enseñar algo a alguien?<br>¿Hoy te sientes inspirado?
        Deja volar tu imaginación. ¡Crea algo increíble!</p>
    </div>
    <div>
      <h4>
        Revisión
        <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
      </h4>
      <p>Nuestro equipo revisará el contenido para que todo esté bien.
        Podrás consultar el estado en todo momento.
      </p>
    </div>
    <div>
      <h4>
        Comparte
        <nb-icon icon="share-outline"></nb-icon>
      </h4>
      <p>¡Ya estás listo para compartir!<br>
      Los artículos tienen un enlace único.
      Úsalo para compartir tus creaciones.</p>
    </div>
  </div>

  <div class="picture">
    <img src="https://i.ibb.co/jwxNH4Q/creator.jpg" alt="Create"/>

    <div>
      <h4>Sigue estos <span class="primary">3</span> sencillos pasos y empieza
        tu aventura<br> como creador de contenido con nosotros.
      </h4>
      <ul>
        <li>
          <nb-icon icon="checkmark-outline" status="success"></nb-icon>
          Podrás crear contenido y compartirlo
        </li>
        <li>
          <nb-icon icon="checkmark-outline" status="success"></nb-icon>
          Dispondrás de tu propio perfil
        </li>
        <li><nb-icon icon="checkmark-outline" status="success"></nb-icon>
          Comunidad de escritores
        </li>
      </ul>
    </div>
  </div>
</div>




