.hero {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url('../../../assets/img/bg.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 1;
}

.hero:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(57 ,48 , 67 , .5);
  z-index: -1;
}

.section {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;

  &-bottom {
    position: absolute;
    bottom: 5%;
  }
}

img {
  width: 160px;
  height: 150px;
  cursor: pointer;
}

.welcome {
  display: inline-block;
  position: relative;
  padding-right: 75px;
  padding-left: 15px;
}

.login {
  position: absolute;
}

h2 {
  font-size: 3.333rem;
  color: white;
  margin: 0;
  margin-bottom: -20px;
  transform: scaleY(0.8);
  transform-origin: 0 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.8);
}

p { font-size: 1.2rem }

.no-account {
  position: absolute;
  color: black;
  right: .5rem;
  bottom: 0.5rem;
  & p { font-size: .95rem }
  & a {
    font-weight: bold;
    text-shadow: 0 0 2px black;
  }
}
