@import '../../../../../../../assets/styles/themes/themes.scss';

@include nb-install-component {
  ul li:hover {
    background: nb-theme(background-basic-color-4);
  }
}

.index-content {
  padding: 1rem 0 1rem 0;
}

h3 {
  font-size: 1.5rem;
  margin: 1.4rem auto 1.8rem 2rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 4rem;
    background: var(--primary-color);
    height: .3rem;
    left: 0;
    bottom: 0;
    border-radius: 4px;
  }
}

ul {
  list-style: none;

  & li {
    padding: 1rem 3rem 1rem 2rem;
    position: relative;
    cursor: pointer;

    & nb-icon {
      position: relative;
      top: 3px;
    }

    & .detail {
      opacity: 0;
      position: absolute;
      right: 1rem;
      top: 35%;
      transition: opacity .5s ease-in;
    }

    &:hover .detail {
      opacity: 1;
    }
  }
}

