<div class="index-content">
  <h3>¿Qué es Markdown?</h3>
  <p>Markdown nació como herramienta de conversión de texto plano a HTML.
    Esta herramienta fue creada en 2004, y se distribuye de
    manera gratuita bajo una licencia BSD.
  </p><br>
  <p>Aunque en realidad Markdown también se considera un lenguaje que
    tiene la finalidad de permitir crear contenido de una manera sencilla,
     y que en todo momento mantenga un diseño legible, para simplificar puedes
    considerar Markdown como un método de escritura.
  </p>

  <div class="markdown-tips">
    <h3>Markdown Shortcuts</h3>
    <p>
      <span>[Link Text](www.google.com)</span>
    </p><br>

    <p>
      <span>![alt text](www.url.com/bg.jpg "Image Alt")</span>
    </p><br>

    <p>
      <span>> This is a blockquote</span>
    </p><br>

    <p>
      <span># H1, ## H2, ### H3, #### H4</span>
    </p><br>

    <p>
      <code>
        <pre>
```javascript
  console.log('Hello World');
```
        </pre>
      </code>
    </p>
  </div>
</div>
