@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
@import '~@nebular/theme/styles/themes/dark';
@import '~@nebular/theme/styles/themes/cosmic';

@import './default.scss';
@import './dark.scss';
@import './cosmic.scss';

$nb-themes: nb-register-theme((), default, default);
$nb-themes: nb-register-theme((), dark, dark);
$nb-themes: nb-register-theme((), cosmic, cosmic);

.cdk-global-scrollblock {
 overflow: hidden !important;
}

// $nb-themes: nb-register-theme((
//   color-primary-100: #DDEEFE,
//   color-primary-200: #BBDAFE,
//   color-primary-300: #98C3FC,
//   color-primary-400: #7EAFF9,
//   color-primary-500: #548EF5,
//   color-primary-600: #3D6DD2,
//   color-primary-700: #2A50B0,
//   color-primary-800: #1A378E,
//   color-primary-900: #102575,
//   color-primary-transparent-100: rgba(84, 142, 245, 0.08),
//   color-primary-transparent-200: rgba(84, 142, 245, 0.16),
//   color-primary-transparent-300: rgba(84, 142, 245, 0.24),
//   color-primary-transparent-400: rgba(84, 142, 245, 0.32),
//   color-primary-transparent-500: rgba(84, 142, 245, 0.4),
//   color-primary-transparent-600: rgba(84, 142, 245, 0.48),
//   color-success-100: #EFFBD2,
//   color-success-200: #DBF8A6,
//   color-success-300: #BBEA76,
//   color-success-400: #99D551,
//   color-success-500: #6DBA21,
//   color-success-600: #549F18,
//   color-success-700: #3F8510,
//   color-success-800: #2C6B0A,
//   color-success-900: #1E5906,
//   color-success-transparent-100: rgba(109, 186, 33, 0.08),
//   color-success-transparent-200: rgba(109, 186, 33, 0.16),
//   color-success-transparent-300: rgba(109, 186, 33, 0.24),
//   color-success-transparent-400: rgba(109, 186, 33, 0.32),
//   color-success-transparent-500: rgba(109, 186, 33, 0.4),
//   color-success-transparent-600: rgba(109, 186, 33, 0.48),
//   color-info-100: #CEF1FE,
//   color-info-200: #9EDEFE,
//   color-info-300: #6EC7FE,
//   color-info-400: #4AAFFD,
//   color-info-500: #0F89FC,
//   color-info-600: #0A6AD8,
//   color-info-700: #074FB5,
//   color-info-800: #043792,
//   color-info-900: #022778,
//   color-info-transparent-100: rgba(15, 137, 252, 0.08),
//   color-info-transparent-200: rgba(15, 137, 252, 0.16),
//   color-info-transparent-300: rgba(15, 137, 252, 0.24),
//   color-info-transparent-400: rgba(15, 137, 252, 0.32),
//   color-info-transparent-500: rgba(15, 137, 252, 0.4),
//   color-info-transparent-600: rgba(15, 137, 252, 0.48),
//   color-warning-100: #FFF8D7,
//   color-warning-200: #FFEEB0,
//   color-warning-300: #FFE288,
//   color-warning-400: #FFD76B,
//   color-warning-500: #FFC43A,
//   color-warning-600: #DBA02A,
//   color-warning-700: #B77F1D,
//   color-warning-800: #936112,
//   color-warning-900: #7A4B0B,
//   color-warning-transparent-100: rgba(255, 196, 58, 0.08),
//   color-warning-transparent-200: rgba(255, 196, 58, 0.16),
//   color-warning-transparent-300: rgba(255, 196, 58, 0.24),
//   color-warning-transparent-400: rgba(255, 196, 58, 0.32),
//   color-warning-transparent-500: rgba(255, 196, 58, 0.4),
//   color-warning-transparent-600: rgba(255, 196, 58, 0.48),
//   color-danger-100: #FFE8D5,
//   color-danger-200: #FFCCAB,
//   color-danger-300: #FFA981,
//   color-danger-400: #FF8761,
//   color-danger-500: #FF502D,
//   color-danger-600: #DB3120,
//   color-danger-700: #B71816,
//   color-danger-800: #930E16,
//   color-danger-900: #7A0818,
//   color-danger-transparent-100: rgba(255, 80, 45, 0.08),
//   color-danger-transparent-200: rgba(255, 80, 45, 0.16),
//   color-danger-transparent-300: rgba(255, 80, 45, 0.24),
//   color-danger-transparent-400: rgba(255, 80, 45, 0.32),
//   color-danger-transparent-500: rgba(255, 80, 45, 0.4),
//   color-danger-transparent-600: rgba(255, 80, 45, 0.48),
//   background-basic-color-1: color-primary-100,
//   background-basic-color-2: color-primary-200,
//   background-basic-color-3: color-primary-300,
//   background-basic-color-4: color-primary-400,
//   border-basic-color-1: color-primary-100,
//   border-basic-color-2: color-primary-200,
//   border-basic-color-3: color-primary-300,
//   border-basic-color-4: color-primary-400,
//   border-basic-color-5: color-primary-500,
// ), sky, default);


