@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
@import '~@nebular/theme/styles/themes/dark';
@import '~@nebular/theme/styles/themes/cosmic';

@import './default.scss';
@import './dark.scss';
@import './cosmic.scss';

$nb-themes: nb-register-theme((), default, default);
$nb-themes: nb-register-theme((), dark, dark);
$nb-themes: nb-register-theme((), cosmic, cosmic);

.cdk-global-scrollblock {
 overflow: hidden !important;
}

