@import '../../../../../../../assets/styles/themes/themes.scss';

@include nb-install-component {
  .profile-social ul li:hover {
    background-color: nb-theme(background-basic-color-4);
  }
}

.profile {
  padding: 1rem 2rem 2rem 2rem;
  text-align: center;
  justify-content: center;

  @media(max-width: 1280px) {
    padding: 2rem;
  }

  & img {
    max-width: 112px;
    border-radius: 50%;
    width: 100%;
    height: 107px;
    margin-bottom: 1rem;
  }

  & h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  & h4 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  &-user {
    & button {
      background: var(--primary-color);
      color: white;
      margin: 1rem auto;
      margin-bottom: 2.888rem;
      padding: .3rem;
      cursor: pointer;
      border-radius: 4px;
      width: 100%;
      outline: none;

      & span {
        position: relative;
        top: -1px;
      }
    }

    & p {
      margin: 1rem auto;
    }
  }

  &-social {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    & ul {
      list-style: none;

      & li {
        display: inline-block;
        padding: .666rem;
        margin: auto 1rem;
        border-radius: 50%;
        cursor: pointer;

        &:hover a.active nb-icon {
          filter: brightness(1.4);
        }

        & a.active nb-icon {
          filter: brightness(1);
        }

        & a:not(.active) {
          text-decoration: none;
          pointer-events: none;
        }

        & a nb-icon {
          font-size: 2rem;
          filter: brightness(.3);}
      }
    }
  }
}
