@import '../../../../../../../assets/styles/themes/themes.scss';

@include nb-install-component {
  .index-content .grey {
    color: nb-theme(color-basic-600);
  }
}

.index-content {
  padding: 1rem 2rem 1rem 2rem;

  & ul {
    list-style: none;

    & li {
      margin: 1.5rem 0;

      & span {
        margin-bottom: .666rem;
        font-size: 1.1rem;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }

  & .grey {
    margin-top: .4rem;
  }

  & .category {
    width: 20px;
    height: 20px;
    margin: 0;
    margin-top: .5rem;
    display: block;
  }

  & .cover {
    width: 100%;
    max-width: 100%;
    max-height: 142.95px;
  }

  & em {
    font-style: normal;
    font-size: .9375rem;
  }
}

h3 {
  font-size: 1.5rem;
  margin: 1.4rem auto 1.8rem 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 4rem;
    background: var(--primary-color);
    height: .3rem;
    left: 0;
    bottom: 0;
    border-radius: 4px;
  }
}
