*, *::before, *::after {
  font-family: var(--primary-font) !important;
  font-size: var(--primay-font-size);
 }

 .confirm {
   padding-left: 3rem !important;
   padding-top: 1rem;

   & .flex {
     justify-content: space-between;
     margin-bottom: 2rem;

     & nb-icon {
       font-size: 1.8rem;
       cursor: pointer;

       &.disabled {
         filter: brightness(.6);
       }
     }
   }

   & button {
      width: 46.5%;
      margin: 2.666rem 2rem 2rem 0;
      position: relative;
      left: 3px;
   }
 }

h1 {
  font-size: 3rem;
  color: var(--primary-color);
}

h3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-right: 2rem;
  &::before {
    margin: 0;
    padding: 0;
  }
}

.input-group {
    margin: 1.577rem auto;
    position: relative;
    display: inline-block;
    width: 50%;

  & input {
    margin-left: 1rem;
    width: 81%;

    &.invalid {
      border-color: var(--primary-color);
    }

    &.valid {
      border-color: #00b887;
    }
  }

  & mat-label {
    position: absolute;
    left: 2.4rem;
    top: -1.7rem;
    font-size: .9rem;
    filter: brightness(.7);
  }

  & nb-icon {
    position: relative;
    top: 1px;
    cursor: pointer;
  }
}

.info-popup {
  padding: .8rem;
  font-size: .9rem;
  text-align: center;
  max-width: 280px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, .8);

  & p {
    font-size: .75rem;
    margin-top: .8rem;
  }
}
