@import "./assets/styles/main.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@nebular/theme/styles/globals';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  overscroll-behavior-y: contain;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

* {
  font-family: var(--primary-font) !important;
  font-size: var(--primary-font-size);
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 400;
  font-display: fallback;
  src: local("Segoe UI");
}

@include nb-install() {
  @include nb-theme-global();
};

@media(max-width: 1280px) {
  * {
    font-size: var(--primary-font-size-small);
  }
}

