:root {
  // COLORS
  --primary-color: #f5548e;
  --primary-color-light: #e67fa5;
  --border-color: #151a30;

  // FONTS
  --primary-font: -apple-system, BlinkMacSystemFont, "Segoe UI",
                  Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --primary-font-size: 16px;
  --primary-font-size-small: 14px;

  // SCROLLBAR
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 3px var(--primary-color);
    -webkit-box-shadow: inset 0 0 3px var(--primary-color);
    border-radius: 5px;
  }

  // CONTENT
  --sidebar-width: 7rem;
  --index-width: 321px;
  --navbar-height: 4.75rem;
  --progress: 0;  // Loader
  --article-header-height: 250px;
}
