.intro {
  --margin: 3rem;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    margin-left: .666rem;
   -webkit-animation: SpinBack .5s;
    animation: SpinBack .5s;
    cursor: pointer;

    &:hover {
      filter: brightness(1.4);
      -webkit-animation: ClockwiseSpin 2s infinite linear;
      animation: ClockwiseSpin 2s infinite linear;
    }
  }

  & span {
    font-size: 1.3rem;
    &::after {
      content: '';
      position: absolute;
      width: var(--margin);
      height: 1.5rem;
      border-right: 1px solid #151a30;;
    }
  }
}
